* {
	box-sizing: border-box;
}
body {
	margin:0;
	background-color: orange;
	font-family: 'Roboto', sans-serif;
}
footer{
	background: linear-gradient(0.01deg, #5454c0 0.01%, #7d83d4 95.44%);
}
.hero-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	margin-bottom: 105px;
}
.container{
	max-width: 945px;
	margin: auto;
}
.social-link{
	margin-right:20px;
}
.logo{
	width: 50px;
	height: 50px;
}
.hero-subtitle{
	font-size: 24px;
	line-height: 28px;
	color: #c8ff00;
	display: inline-block;
	margin-bottom: 14px;
}
.hero-title{
	font-size: 50px;
	line-height: 59px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 20px;
}
.hero-description{
	font-size: 16px;
	line-height: 28px;
	max-width: 420px;
	margin-bottom: 38px;
}
.button{
	background: linear-gradient(180deg, #FDDE76 0%, #FBB001 100%);
	box-shadow: 0px 4px 0px #B68500;
	border-radius: 5px 5px 10px 10px;
	padding: 24px 42px;
	border: none;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	font-weight: bold;
}
.hero-avatar{
	width: 389px;
	height: 389px;
	border-radius: 50%;
	background-image: url(../images/image\ 3.jpg);
	background-repeat: no-repeat;
	background-position: top center -10px;
	border: 10px solid white;
	background-size: 99.9%;
}
.hero-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head{
	background: linear-gradient(0.01deg, #3e437a 0.01%, #3545d1 95.44%);
	padding-bottom: 155px;
}
.section{
	padding-top: 64px;
	padding-bottom: 92px;
}
.features{
	background-color: #686aec;
}
.section-title{
	margin: 0;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 84px;
}
.features-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.features-item{
	flex-basis: 30%;
	margin-bottom: 63px;
}
.features-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin: 0;
}
.features-image{
	display: block;
	margin-bottom: 16px;
}
.features-text{
	font-size: 16px;
	line-height: 28px;
	margin: 0;
}
.contacts-form{
	background-color: white;
	box-shadow: -5px 5px 0px #00864C;
	border-radius: 5px;
	max-width: 380px;
	padding-top: 40px;
	padding-right: 48px;
	padding-left: 48px;
	padding-bottom: 49px;
}
.form-title{
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	margin: 0;
	margin-bottom: 29px;
}
.input{
	background-color: #F8F8F8;
	box-shadow: inset 0px 3px 10px rgba(199,199,199,0.25);
	border-radius: 5px;
	padding: 18px 20px;
	padding-left: 50px;
	width: 100%;
	border: none;
	font-size: 14px;
	line-height: 28px;
}
.input-name{
	margin-bottom: 17px;
	background-image: url(../images/user-icon.svg);
	background-repeat: no-repeat;
	background-position: center left 20px;
}
.input-phone{
	margin-bottom: 29px;
	background-image: url(../images/phone-icon.svg);
	background-repeat: no-repeat;
	background-position: center left 20px;
}
.form-button{
	width: 100%;
}
.contacts-block{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contacts-data{
	display: flex;
	flex-wrap: wrap;
}
.contacts-phone, .contacts-email{
	flex-basis: 50%;
	margin-bottom: 53px;

}
.contacts-social{
	flex-basis: 100%;
}
.contacts-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin:0;
	margin-bottom: 15px;
}
.link{
	text-decoration: none;
	color: inherit;
}
.link:hover{
	text-decoration: underline;
}
.social-link{
	text-decoration: none;
	color: inherit;
}
.policy {
	display: inline-block;
	font-size: 15px;
	line-height: 18px;
	text-decoration: underline;
	color: rgb(255, 255, 255);
	margin-top: 72px;
}
.projects {
	background-color: #686aec;
}
.projects-slide {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.project-text{
	display: flex;
	flex-basis: 60%;
	flex-wrap: wrap;
}
.project-title{
	flex-basis: 100%;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin: 0;
	margin-bottom: 41px;
}
.project-time{
	flex-basis: 50%;
	margin-bottom: 44px;
}
.project-cost{
	flex-basis: 50%;
	margin-bottom: 44px;
}
.project-time, .project-cost, .project-feedback {
	display: flex;
	align-items: flex-start;
}
.project-subtitle {
	margin: 0;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 7px;
}
.project-paragraph{
	margin:0;
	font-size: 16px;
	line-height: 19px;
}
.project-icon{
	margin-right: 16px;
}
.projects-pagination{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 44px;
}
.projects-bullet{
	width: 10px;
	height: 10px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}
.projects-bullet-active{
	background-color: rgb(255, 255, 255);
}
.project-image {
	height: 250px;
	width: 350px;
}

@media(max-width: 1100px){
	.hero-avatar{
		width: 300px;
		height: 300px;
		border-width: 10px;
		background-size: 99.9%;
	}
}
@media(max-width: 836px){
	.hero-content{
		flex-direction: column;
	}
	.hero-avatar{
		order: 0;
		width: 300px;
		height: 300px;
		border-width: 10px;
		margin-bottom: 17px;
	}
	.hero-text{
		order: 1;
		text-align: center;
	}
	.features-item{
		flex-basis: 45%;
	}
	.projects-slide{
		flex-direction: column;
	}
	.project-img{
		margin-bottom: 46px;
	}
	.contacts-block{
		align-items: flex-start;
		flex-direction: column;
	}
	.contacts-form{
		margin-bottom: 58px;
	}
	.container{
		max-width: 750px;
	}
}
@media(max-width: 564px){
	img{
		max-width: 100%;
	}
	.container{
		max-width: 500px;
	}
	.hero-subtitle{
		font-size: 16px;
		line-height: 27px;
	}
	.hero-avatar{
		width: 113px;
		height: 113px;
		border-width: 7px;
		background-position: center top;
		background-size: 99.9%;
	}
	.hero-header{
		margin-bottom: 38px;
	}
	.social-link{
		margin-left: 5px;
	}
	.hero-title{
		font-size: 24px;
		line-height: 28px;
	}
	.hero-description{
		font-size: 14px;
		line-height: 140%;
	}
	.hero{
		padding-bottom: 75px;
	}
	.section{
		padding: 60px 0;
	}
	.section-title{
		font-size: 19px;
		line-height: 22px;
		margin-bottom: 60px;
	}
	.features-item{
		flex-basis: 100%;
		margin-bottom: 30px;
	}
	.features-title{
		font-size: 18px;
		line-height: 28px;
	}
	.features-text{
		font-size: 14px;
		line-height: 28px;
	}
	.project-title{
		font-size: 18px;
		line-height: 150%;
	}
	.project-time, .project-cost, .projects-feedback{
		flex-basis: 100%;
		margin-bottom: 30px;
	}
	.project-paragraph{
		font-size: 14px;
	}
	.contacts-form{
		padding: 40px 19px;
	}
	.form-title{
		font-size: 15px;
		line-height: 140%;
	}
	.form-button{
		font-size: 10px;
	}
	.contacts-phone, .contacts-mail{
		flex-basis: 100%;
		margin-bottom: 30px;
	}
	.contacts-title{
		font-size: 18px;
		line-height: 21px;
	}
	.contacts-link{
		font-size: 14px;
		line-height: 16px;
		display: block;
	}
}